<li>
  <label><%= I18n.t("profile_name") %></label> <em class="rightCell"></em>
  <%= form.text_field :name, :size => 19 %>
</li>

<li><label class="yellowCell"><%= I18n.t("Service name") %></label> <em class="rightCell"></em>
  <%= form.select :host, Common::Host::options_for_select  %>
</li>
<li><label><%= I18n.t("login") %></label><em class="rightCell"></em>
  <%= form.text_field :login, :size => 19 %>
</li>

<li>
  <%= form.label :password, I18n.t("password"), :class => "yellowCell" %>
  <em class="rightCell"></em>
  <%= form.password_field :password, :size => 19 %>
<li>
    <%= form.label :content_type_id, I18n.t("content_type"), :class => "borderNone" %>
    <em class="rightCell"></em>
    <%= form.select :content_type_id, Common::ContentType::options_for_select  %>
  </li>
