<div class="overHidden">
<%= head_page_left I18n.t("macros") %>
<%= link_to I18n.t("create_macro"), new_macro_path , :class=>"awesome js_link floatRight" %>
</div>
<table>
  <tr class="tableTitle">
    <td><%= I18n.t("name") %></td>
    <td><%= I18n.t("created") %></td>
    <td><%= I18n.t("actions") %></td>
  </tr>
  <% @macros.each do |macro| -%>
  <tr>
    <td><%= macro.name %></td>
    <td><%= macro.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <td>
      <%= link_to I18n.t("edit"), edit_macro_path(macro), :class => "edit js_link" %>
      <%= link_to "", macro_path(macro),
          :method => :delete, :confirm => I18n.t("delete_macros"), :class => "delete" %>

    </td>
  </tr>
  <% end -%>
</table>
