<table class="brown">
  <tr>
    <th><%= I18n.t("current_state") %></th>
    <th colspan=3><%= I18n.t  @task.state %></th>
  </tr>
  <tr>
    <th><%= I18n.t("job") %></th>
    <th><%= I18n.t("start_time") %></th>
    <th><%= I18n.t("stop_time") %></th>
    <th><%= I18n.t("comment") %></th>
  </tr>
  <% logs.each do |l| -%>
  <tr>
    <td><%= l.job %></td>
    <td><%= l.startup %></td>
    <td><%= l.stop_time %></td>
    <td><%= l.comment %></td>
  </tr>
  <% end -%>
</table>
