<table class="brown <%= params[:controller] -%>">
  <tr class="tableTitle">
		<td><%= I18n.t("category") %></td>
		<td><%= I18n.t("name") %></td>
		<td><%= I18n.t("status") %></td>
    <% if params[:controller]["tasks"] -%>
      <td><%= I18n.t("actions") %></td>
    <% end -%>
  </tr>
  <% tasks.each do |task| -%>
  <tr class="<%= cycle('yellowCell','') %>">
    <td><%= h task.category.name  %></td>
    <td><%= link_to h(task.name), task_path(task)  %></td>
    <td class="state_task_<%= task.state %>"><%= I18n.t task.state.to_s %>
      <% if task.downloading? -%>
        <span class='downloading_monitor'>
          [ <%= number_to_percentage(task.percentage.to_i, :precision => 0) -%> | <%= task.speed -%>kb/sec ]
        </span>
      <% end -%>
    </td>
    <% if params[:controller]["tasks"] -%>
    <td>
      <%= link_to I18n.t("delete"),  task_path(task), :method => :delete,
      :confirm => I18n.t("delete_task"), :title => I18n.t("delete"), :class=>"delBut" %>
    </td>
    <% end -%>
  </tr>
  <% end -%>
</table>
