<%= head_page session[:task_status]["active"] ? "active_tasks" : "completed_tasks" %>

<form class="categories" action="#" method="post">
<%= select_tag :category,options_for_select([[I18n.t("all_categories"),nil]]+Category.all.map{|x| [x.name, x.id]},
    session[:task_category].to_i), :class => "categories" %>
</form>
<div id="load_content">
  <%= render :partial => 'tasks', :object => @tasks %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#category").change(function(){
       var _url = "<%= tasks_path(:format=> :js, :category => :id)%> ";
       if ($(this).val()) { _url = _url.replace("id", $(this).val());
       } else { _url = _url.replace("id", "-1"); };
      $("#load_content").load(_url)
     });

  <% if session[:task_status]["active"] -%>
    $(document).everyTime(15000,'indicate_timer' ,function(i) {
       var _url = "<%= tasks_path :format => :js %> ";
           $("#load_content").load(""+_url+"");
      });
  <% end %>

   });
</script>

