<% content_for :custom_class do -%>
taskProfile
<% end -%>
<div class="leftSide">
  <h1><%= @task.name %></h1>
  <p><%=h @task.description %></p><br />
  <h2><%= I18n.t("covers") %></h2>
  <% unless @task.task_covers.blank? -%>
  <div class="imgSettings">
    <div class="floatLeft">
      <% @task.task_covers.each do |x| -%>
      <p>
        <%= link_to x.cover.attachment.original_filename,  image_path(x.cover.attachment.url), :rel => "#image1" %>
        <span>Uploaded to <strong><%= @task.upload_images_profile.try(:host) %></strong></span>
      </p>
       <% x.links && x.links.each do |link| -%>
        <p><%=h link.first %><br />
           <%= text_field_tag "", link.last, :size => 35  %>
           <a href="#" class="copyBut" title="Copy">Copy</a>
        </p>
       <% end -%>
      <% end -%>
    </div>

    <% if @task.finished? && @task.upload_images? -%>
    <%= link_to "Re-upload image", reuploading_covers_task_path, :class => "awesome floatRight"  %>
    <% end -%>

  </div>
  <% end -%>
  <h2><%= I18n.t("screen_list") %></h2>
  <% unless @task.list_screens.blank? -%>
  <div class="imgSettings">
    <div class="floatLeft">
      <% @task.list_screens.each do |list_screen| -%>
      <p>
        <%= link_to list_screen.screen.attachment.original_filename,  image_path(list_screen.screen.attachment.url),
            :rel => "#image1",
            :class => "linkFile listImg" %>
        <span>Uploaded to <strong><%= @task.upload_images_profile.try(:host) %></strong></span>
      </p>
        <% list_screen.links && list_screen.links.each do |link| -%>
          <p><%=h link.first %><br />
             <%= text_field_tag "", link.last, :size => 35  %>
             <a href="#" class="copyBut" title="Copy">Copy</a>
          </p>
        <% end -%>
      <% end -%>
    </div>

    <div class="floatRight">
      <% if @task.finished? -%>
      <%= link_to "Generate image", regenerate_task_path, :class => "awesome floatRight" if @task.screen_list? %>
      <br class="clear" />
      <%= link_to "Re-upload image", reuploading_task_path, :class => "awesome floatRight"  if @task.upload_images? %>
      <% end -%>
    </div>

  </div>
  <% end -%>
  <h2><%= I18n.t("files") %></h2>
  <% unless @task.mediavalise_links.blank? -%>
  <div class="imgSettings">
    <textarea name="" rows="5" cols="50" class="floatLeft">
      <%=h @task.mediavalise_links  %>
    </textarea>
    <a href="#" class="copyBut" title="Copy">Copy</a>
  </div>
  <% end -%>
</div>
<div class="rightSide" style="width:310px;">
  <div class="taskLog">
    <p><span><%= I18n.t("created") %>:</span><%= @task.job_loggings.first.startup.to_s(:long) %></p>
    <p><span>Finished:</span>
      <%= !@task.job_loggings.last.stop_time.blank? ?  @task.job_loggings.last.stop_time.to_s(:long) : @task.job_loggings.last.startup.to_s(:long) %></p>
    <p><em>Task log</em></p>
    <p><span><%= I18n.t("status") %>: <%= @task.state %></span></p>
    <p><%= I18n.t("start") %>: <%= @task.job_loggings.last.startup.to_s(:long) %></p>
    <p><%= I18n.t("stop") %>: <%= @task.job_loggings.last.stop_time.to_s(:long) unless @task.job_loggings.last.stop_time.blank? %></p>
  </div>

  <%= link_to I18n.t("complete_task"), complete_task_path(@task), :class => "awesome" if @task.finished?  %>
  <span class="statusTask">Status:<span class="<%= @task.current_state %>"><%= @task.state %></span></span>

</div>
</div>

<% content_for :overlay do %>
<!-- view image -->
<div class="overlay" id="image1">
  <img />
</div>
<!-- end view image -->
<% end -%>
<script type="text/javascript" charset="utf-8">
  $(function(){
  	$(".listImg[rel]").overlay({effect: 'apple', expose: '#000',
                          onBeforeLoad: function() {
                          var img = this.getContent().find("img:first");
                          $(img).css({"width": ($(window).width()-100)+"px"})
                                .attr("src", this.getTrigger().attr("href") );
                        }
  })
  });
</script>
