<%= head_page [I18n.t("task") ].join(": ") %>
<% if @task.finished? -%>
<div>
  <%= link_to I18n.t("complete_task"), complete_task_path(@task) %>
</div>
<% end -%>
<div class="task_info">
    <div>
      <span><%= I18n.t("created_at") %></span><br />
      <%= @task.created_at.to_s(:long) %>
    </div>
    <div>
      <span><%= I18n.t("name") %></span><br />
      <%= h @task.name %>
    </div>
  <div>
    <span><%= I18n.t("description") %></span><br />
    <%= h @task.description %>
  </div>
  <div>
    <span><%= I18n.t("links") %></span><br />
    <%=  @task.extract_link.map{|x| "<div>#{x}</div>"} %>
  </div>
  <div>
    <%= render :partial => 'screen_list', :object => @task.list_screens unless @task.list_screens.blank? %>
  </div>
  <div>
    <%= render :partial => 'logs', :object => @task.job_loggings unless @task.job_loggings.blank? %>
  </div>
</div>
