<%= head_page [I18n.t("task") ].join(": ") %>
<% if @task.finished? -%>
<div>
  <%= link_to I18n.t("complete_task"), complete_task_path(@task) %>
</div>
<% end -%>
<div class="task_info">
    <div>
      <span><%= I18n.t("created_at") %></span><br />
      <%= @task.created_at.to_s(:long) %>
    </div>
    <div>
      <span><%= I18n.t("name") %></span><br />
      <%= h @task.name %>
    </div>
  <div>
    <span><%= I18n.t("description") %></span><br />
    <%= h @task.description %>
  </div>
  <div>
    <span><%= I18n.t("links") %></span><br />
    <%=  @task.extract_link.map{|x| "<div>#{x}</div>"} %>
  </div>

  <div>
    <h3>Screen list</h3>

    <% @task.list_screens.each do |sc|  %>
    <div><%= link_to image_tag(sc.screen.attachment.url(:thumb)) , image_path(sc.screen.attachment.url) %></div>
    <div><%= sc.links  %></div>
    <% end -%>
  </div>

</div>


<div>
  <table class="brown">
    <tr>
      <th>current state</th>
      <th colspan=3><%= @task.state %></th>
    </tr>
    <tr>
      <th>Job</th>
      <th>Start time</th>
      <th>Stop time</th>
      <th>Result</th>
    </tr>
    <% @task.job_loggings.each do |l| -%>
    <tr>
      <td><%= l.job %></td>
      <td><%= l.startup %></td>
      <td><%= l.stop_time %></td>
      <td><%= l.comment %></td>
    </tr>
    <% end -%>
  </table>
</div>
