<%= head_page "files" %>
<%= link_to I18n.t("add_file"), new_user_file_path , :class=>"gray_button macros" %>

<table class="brown user_files">
  <tr>
    <th><%= I18n.t("name") %></th>
    <th><%= I18n.t("uploaded") %></th>
    <th><%= I18n.t("actions") %></th>
  </tr>

  <% @user_files.each do |att| -%>
  <tr>
    <td><%= att.title %></td>
    <td><%= att.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <td>
      <%= link_to I18n.t("edit"), edit_user_file_path(att), :class => "edit" %>
      <%= link_to image_tag("delete.gif"), user_file_path(att),
          :method => :delete, :confirm => I18n.t("delete_macros"),  :title => I18n.t("delete") %>

    </td>
  </tr>
  <% end -%>
</table>

