<% content_for :head do  %><%= I18n.t("users") %><% end -%>
<%= link_to I18n.t("add_user"), new_user_path, :class => "gray_button users" %>
<table class="brown">
  <tr>
    <th><%= I18n.t("login") %></th>
    <th><%= I18n.t("added_date") %></th>
    <th><%= I18n.t("tasks") %></th>
    <th><%= I18n.t("actions") %></th>    
  </tr>
  <% @users.each do |user| -%>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.created_at.strftime("%d.%m.%Y %H:%M") %></td>
    <td><%= user.active_tasks.to_i %>/<%= user.completed_tasks.to_i %></td>
    <td>
      <%= link_to I18n.t("edit"), edit_user_path(user) %>
      <%= link_to I18n.t("delete"), user_path(user), :method => :destroy, :confirm => I18n.t("Delete user") %>
    </td>
  </tr>
  <% end -%>
</table>
