  <ul class="tabs">
      <li>
        <% link_to dashboards_path, :class => ('current' if params[:controller][/dashboards/]) do %>
        <%= I18n.t("Dashboard") %>
        <span><%= I18n.t("Dashboard") %></span>
        <% end -%>
      </li>
      <li>
        <% link_to tasks_path, :class => ('current' if params[:controller][/tasks/]) do %>
          <%= I18n.t("Tasks") %>
          <span><%= I18n.t("Tasks") %></span>
        <% end -%>
      </li>
      <li>
        <% link_to macros_path, :class => ('current' if params[:controller][/macros|files|profiles|categories/]) do %>
          <%= I18n.t("Tools") %>
          <span><%= I18n.t("Tools") %></span>
        <% end -%>
      </li>
      <li>
        <% link_to settings_path, :class => ('current' if params[:controller][/settings|users|proxy/]) do %>
          <%= I18n.t("Settings") %>
          <span><%= I18n.t("Settings") %></span>
        <% end -%>
        </li>
    </ul>
