<ul class="sub_menu">
  <li <%= "class='active'" if params[:controller]["settings"] %>>
    <%= link_to I18n.t("my_settings"), settings_path %></li>
  <li <%= "class='active'" if params[:controller]["users"] %>>
    <%= link_to I18n.t("users"), users_path if current_user.admin? %></li>
  <li <%= "class='active'" if params[:controller]["proxies"] %>>
    <%= link_to I18n.t("proxy"), proxies_path %></li>
</ul>

