<ul class="sub_menu">
  <li <%= "class='active'" if params[:controller]["tasks"] && session[:task_status]['active'] && !params[:action][/new|create/] %>>
    <%= link_to I18n.t("active_tasks"), tasks_path(:status => :active) %></li>
  <li <%= "class='active'" if params[:controller]["tasks"] && session[:task_status]['completed'] && !params[:action][/new|create/] %>>
    <%= link_to I18n.t("completed_tasks"), tasks_path(:status => :completed) %></li>
  <li <%= "class='active'" if params[:controller]["tasks"] && params[:action][/new|create/] %>>
    <%= link_to I18n.t("create_task"), new_task_path %></li>
</ul>
