<div class="overHidden">
  <h1 class="floatLeft"><%= I18n.t("my_settings") %></h1>
</div>

<% form_for resource, :url => settings_path, :html => { :method => :put }  do |form| %>

 <ul class="tableForm toolsProfiles">
   <li><label>Nickname</label><em class="rightCell"></em>
     <%= form.text_field :name, :size => 27 %>
   </li>
   <li><label class="yellowCell">E-mail</label><em class="rightCell"></em>
     <%= form.text_field :email, :size => 27 %>
   </li>
   <li><label>Password</label><em class="rightCell"></em>
     <%= form.password_field :password, :size => 27 %>
   </li>
   <li><label class="yellowCell">Repeat password</label><em class="rightCell"></em>
     <%= form.password_field :password_confirmation, :size => 27 %>
   </li>
   <li><label class="borderNone">E-mail notification</label><em class="rightCell"></em>
     <%= form.check_box :notification_email, :size => 27 %>
   </li>
   <li class="borderNone">
     <%= submit_tag I18n.t("Save"), :class => "awesome " %>
   </li>
 </ul>

<% end -%>
