<%= head_page I18n.t("dashboard") %>
<div class="overHidden">
<h2 class="floatLeft"><%= I18n.t("active_task") %></h2>
<form class="categories floatRight" action="#" method="post">
<%= select_tag :category,options_for_select([[I18n.t("all_categories"),nil]]+Category.all.map{|x| [x.name, x.id]},
    session[:task_category].to_i), :class => "categories" %>
</form>
</div>

<%= render :partial => 'tasks/tasks', :object => @tasks %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#category").change(function(){
       var _url = "<%= dashboards_path(:format=> :js, :category => :id)%>";
       if ($(this).val()) { _url = _url.replace("id", $(this).val());
       } else { _url = _url.replace("id", "-1"); };
      $("#load_content").load(_url)
     });
   });
</script>

