<%= head_page %>
<%= link_to("Add category", new_category_path , :class=>"gray_button category") if current_user && current_user.admin? %>
  
<table class="brown">
  <tr>
    <th><%= I18n.t("name") %></th>
    <th><%= I18n.t("created") %></th>
    <% if current_user && current_user.admin? -%>
    <th><%= I18n.t("actions") %></th>
    <% end -%>
  </tr>
  <% @categories.each do |category| -%>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.created_at.strftime("%d.%m.%Y") %></td>
    
    <% if current_user && current_user.admin? -%>
    <td>
      <%= link_to I18n.t("edit"), edit_category_path(category) %>
      <%= link_to I18n.t("delete"), categories_path(category),
          :method => :destroy, :confirm => I18n.t("delete_category") %>
    </td>
    <% end -%>
    
  </tr>
  <% end -%>
</table>
