<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
  <head>
    <title><%= I18n.t("hydra") %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'style', 'formtastic','formtastic_changes', 'colorpicker','jtip' %>
    <%= javascript_include_tag  'jquery', 'jquery.tools.min', 'colorpicker' %>
    <%= javascript_include_tag  'application', 'jquery.timers', 'jtip', 'jquery.jgrowl' %>
  </head>

  <body>

    <div id="main">
      <!-- head -->
      <div class="header">
        <!-- top menu -->
        <%= render "shared/main_menu" %>
        <!-- end top menu -->

        <!-- login area -->
        <div class="loginArea">
          <p><%= current_user.name || current_user.email %>
            <%= link_to I18n.t("logout"), logout_path %></p>
          <%= link_to I18n.t("create_task"), new_task_path, :class => "awesome" %>
        </div>
        <!-- end login area -->
      </div>
      <!-- end head -->



    <div class="content">
      <%= render "shared/sub_menu" %>
      <div id="alertMessage">
        <div id="jGrowl"></div>
      </div>

      <div class="<%= parent_menu || 'dashboards' %>">
        <%= yield :head %>
        <%= yield %>
      </div>

    </div>
    <div class="footer"></div>
    </div>
    <%= yield :overlay %>


<script type="text/javascript" charset="utf-8">
  $(function(){

  <% if flash[:notice] -%>
    $("#alertMessage").addClass("success")
    $.jGrowl("<%= flash[:notice] %>");
  <% elsif flash[:error] -%>
    $("#alertMessage").addClass("failure")
    $.jGrowl("<%= flash[:error] %>");
  <% end -%>

  });
</script>

  </body>
</html>
