<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
  <head>
    <title><%= I18n.t("hydra") %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'style', 'formtastic','formtastic_changes' %>
    <%= javascript_include_tag  'application', 'jquery' %>
  </head>

  <body>

    <ul class="user_panel">
      <li><%= current_user.name || current_user.login %></li>
      <li>
        <%= link_to I18n.t("sign out"), logout_path %>        
      </li>
    </ul>
    <%= link_to I18n.t("create_task"), new_task_path, :class => "gray_button" %>
  
    <%= render "shared/main_menu" %>  
    <%= render "shared/sub_menu" %>
    <div class="content">
      <div class="<%= params[:controller] %>">
        <h1><%= yield :head %></h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
