<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'style', 'formtastic','formtastic_changes' %>
    <%= javascript_include_tag  'application', 'jquery' %>
  </head>

  <body>
    <div class="user_panel">
      <%= flash[:notice] %>
      <% if current_user -%>
      <%= link_to I18n.t("sign out"), logout_path %>
      <% end -%>
    </div>

    <ul class="main_menu">
      <li><%= link_to I18n.t("Dashboard"), dashboards_path %></li>
      <li><%= link_to I18n.t("Tasks"), "" %></li>
      <li><%= link_to I18n.t("Tools"), "" %></li>
      <li><%= link_to I18n.t("Settings"), settings_path %></li>
    </ul>
    
    <%= render "shared/sub_menu" %>
    
    <%= yield %>
  </body>
</html>
