<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en" lang="en">
  <head>
    <title><%= I18n.t("hydra")%>:<%= I18n.t("login")%> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'style', 'formtastic','formtastic_changes' %>
    <%= javascript_include_tag  'jquery' %>
  </head>
  <body>
    <div id="loginForm">
      <!-- content -->
      <div class="content">
        <%= yield %>
      </div>
      <!-- end content -->
      <!-- footer -->
      <div class="footer"></div>
      <!-- end footer -->
    </div>
  </body>
</html>
